<tr class="trFeedGroup">
    <td><a class="btnFeedGroupLink btn btn-primary linkFeedGroup" data-id="{{id}}" href="#feedgroup?id={{id}}">{{description}}</a></td>
    <td>{{baseUrl}}</td>
    <td>
        <button class="btnUnhideFeedGroup btn btn-outline-warning {{#unless hidden}}hidden{{/unless}}" data-id="{{id}}"><span class="octicon octicon-mute"></span></button>
        <button class="btnHideFeedGroup btn btn-warning {{#if hidden}}hidden{{/if}}" data-id="{{id}}"><span class="octicon octicon-unmute"></span></button>
        <button class="btnDeleteFeedGroup btn btn-danger" data-id="{{id}}"><span class="octicon octicon-trashcan"></span></button>
        <button class="btnCopyFeedGroup btn btn-outline-dark" data-id="{{id}}"><span class="octicon octicon-repo-clone"></span></button>
        <button class="btnRenameFeedGroup btn btn-outline-dark" data-id="{{id}}"><span class="octicon octicon-pencil"></span></button>
    </td>
</tr>