<tr class="trFeed">
    <td class="tdFeedName"><a class="btn btn-primary" href="{{encodedFeedUrl}}">{{name}}</a></td>
    <td class="tdAdditional">
        <span class="input-group">
            {{#each additionalParameters}}
            <span class="spanAdditional input-group-addon">{{this}}</span>
            {{/each}}
        </span>
    </td>
    <td class="tdActions">
        {{#if deleted}}
        <button class="btnUndelete btn btn-warning" data-id="{{id}}">Undelete</button>
        {{else}}
        <button class="btnDelete btn btn-danger" data-id="{{id}}">Delete</button>
        {{/if}}
    </td>
</tr>