<table class="table table-bordered table-sm">
    <thead class="thead-default">
        <tr>
            <th>Feed Name</th>
            <th>Additional Queries</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each feeds}}
        {{>feedRow this}}
        {{/each}}
        <tr class="trNewFeed">
            <td><input class="inputNewFeedName form-control" /></td>
            <td><input class="inputNewFeedAdditional form-control" /></td>
            <td><button class="btnSubmitFeed btn btn-success"><span class="octicon octicon-check"></span></button></td>
        </tr>
    </tbody>
</table>

<div class="input-group">
    <span class="input-group-addon">Base Url</span>
    <input class="inputNewFeedBaseUrl form-control" type="text" value="{{baseUrl}}" />
    <button class="btnNewFeedBaseUrlSubmit btn btn-success" data-id="{{id}}"><span class="octicon octicon-check"></span></button>
</div>