<tr class="trFeed">
    <td class="tdFeedName"><a class="btn btn-primary" href="{{searchPageUrl}}">{{name}}</a></td>
    <td class="tdAdditional">
        <span class="input-group">
            {{#each additionalParameters}}
            <span class="spanAdditional input-group-addon">{{this.parameter}}</span>
            {{/each}}
        </span>
    </td>
    <td class="tdActions">
        {{#if hidden}}
        <button class="btnUnhide btn btn-warning" data-id="{{id}}">Unhide</button>
        {{else}}
        <button class="btnHide btn btn-warning" data-id="{{id}}">Hide</button>
        {{/if}}
        <button class="btnDelete btn btn-danger" data-id="{{id}}">Delete</button>
    </td>
</tr>