<tr class="trFeed">
    <td class="tdFeedName"><a class="btnFeedLink btn btn-primary" href="{{searchPageUrl}}">{{name}}</a></td>
    <td class="tdAdditional">
        <span class="input-group">
            {{#each additionalParameters}}
            <span class="spanAdditional input-group-addon">{{this.parameter}}</span>
            {{/each}}
        </span>
    </td>
    <td class="tdActions">
        <button class="btnDeleteFeed btn btn-danger" data-id="{{id}}"><span class="octicon octicon-trashcan"></span></button>
    </td>
</tr>